# Python 가상환경
face_feature_venv/
venv/
.env/

# Git 메타데이터
.git
.gitignore

# macOS/IDE 메타데이터
.DS_Store
.idea/
.vscode/

# Python 바이트코드/캐시
__pycache__/
*.py[cod]
*$py.class

# 로그 파일
*.log

# 임시 파일
*.tmp
*.swp

# sample 이미지
*.jpg
*.jpeg
*.png